<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>formats</key>
	<array>
		<dict>
			<key>formatDescription</key>
			<string>for viewing on iPhone video: 480x320 h.264 at 384kbps audio: aac at 128kbs</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>iPhone</string>
			<key>encoderVideoOptions</key>
			<string>-of lavf -lavfopts format=ipod -ovc x264 -x264encopts nocabac:level_idc=30:bitrate=384:threads=auto:bframes=0:global_header -vf pp=lb,dsize=480:320:0,scale=-8:-8,harddup</string>
			<key>encoderAudioOptions</key>
			<string>-af volume=13:1 -oac faac -faacopts mpeg=4:object=2:raw:br=128</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>for viewing on video iPod video: 320x240 h.264 at 256kbps audio: aac at 128kbs</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>iPod</string>
			<key>encoderVideoOptions</key>
			<string>-of lavf -lavfopts format=ipod -ovc x264 -x264encopts nocabac:level_idc=30:bitrate=256:threads=auto:bframes=0:global_header -vf pp=lb,dsize=320:240:0,scale=-8:-8,harddup</string>
			<key>encoderAudioOptions</key>
			<string>-af volume=13:1 -oac faac -faacopts mpeg=4:object=2:raw:br=128</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>for viewing on TV hooked up to iPod/iPhone video: 640x480 h.264 at 1500kbps audio: aac at 128kbs</string>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>comSkip</key>
			<true/>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>iPod/iPhone super-res</string>
			<key>encoderVideoOptions</key>
			<string>-of lavf -lavfopts format=ipod -ovc x264 -x264encopts nocabac:level_idc=30:bitrate=1500:threads=auto:bframes=0:global_header -vf pp=lb,dsize=640:480:0,scale=-8:-8,harddup</string>
			<key>encoderAudioOptions</key>
			<string>-af volume=13:1 -oac faac -faacopts mpeg=4:object=2:raw:br=128</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>for archival at super quality video: original resolution h.264 at 10Mbps audio: aac at 256kbps</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>Quicktime (H.264   10Mbps)</string>
			<key>encoderVideoOptions</key>
			<string>-of lavf -lavfopts format=ipod -ovc x264 -x264encopts bitrate=10000:bframes=0:level_idc=41:threads=auto:global_header -vf pp=lb,harddup,scale=-10:-1</string>
			<key>encoderAudioOptions</key>
			<string>-oac faac -faacopts mpeg=4:object=2:raw:br=256</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>for archival at high quality video: original resolution h.264 at 5Mbps audio: aac at 192kbs</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>Quicktime (H.264   5Mbps)</string>
			<key>encoderVideoOptions</key>
			<string>-of lavf -lavfopts format=ipod -ovc x264 -x264encopts bitrate=5000:bframes=0:level_idc=41:threads=auto:global_header -vf pp=lb,harddup,scale=-10:-1</string>
			<key>encoderAudioOptions</key>
			<string>-oac faac -faacopts mpeg=4:object=2:raw:br=192</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>for archival at medium quality video: original h.264 at 3Mbps audio: aac at 192kbs</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>Quicktime (H.264   3Mbps)</string>
			<key>encoderVideoOptions</key>
			<string>-of lavf -lavfopts format=ipod -ovc x264 -x264encopts bitrate=3000:bframes=0:level_idc=41:threads=auto:global_header -vf pp=lb,harddup,scale=-10:-1</string>
			<key>encoderAudioOptions</key>
			<string>-oac faac -faacopts mpeg=4:object=2:raw:br=192</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>for archival at low quality video: original h.264 at 1Mbps audio: aac at 128kbs</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>Quicktime (H.264   1Mbps)</string>
			<key>encoderVideoOptions</key>
			<string>-of lavf -lavfopts format=ipod -ovc x264 -x264encopts bitrate=1000:bframes=0:level_idc=41:threads=auto:global_header -vf pp=lb,harddup,scale=-10:-1</string>
			<key>encoderAudioOptions</key>
			<string>-oac faac -faacopts mpeg=4:object=2:raw:br=128</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>for compressing to very small size video: original h.264 at 128kbps audio: aac at 128kbs</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>Quicktime (H.264   256kbps)</string>
			<key>encoderVideoOptions</key>
			<string>-of lavf -lavfopts format=ipod -ovc x264 -x264encopts bitrate=128:bframes=0:level_idc=41:threads=auto:global_header -vf pp=lb,harddup,scale=-10:-1</string>
			<key>encoderAudioOptions</key>
			<string>-oac faac -faacopts mpeg=4:object=2:raw:br=128</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>for Microsoft Zune (untested) video: 320x240 h.264 at 384kbps audio: mp3 at 192kbs</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>Zune</string>
			<key>encoderVideoOptions</key>
			<string>-of lavf -lavfopts format=mp4 -ovc x264 -x264encopts nocabac:level_idc=21:bitrate=384:threads=auto:bframes=0:global_header -vf dsize=320:240:0,scale=-8:-8,harddup</string>
			<key>encoderAudioOptions</key>
			<string>-oac mp3lame -lameopts br=192</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<false/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>for playback on AppleTV video: 960x540 h.264 at 2Mbps audio: 2-channel aac at 128kbs</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>AppleTV</string>
			<key>encoderVideoOptions</key>
			<string>-of lavf -lavfopts format=mp4 -ovc x264 -x264encopts nocabac:level_idc=30:bitrate=2000:threads=auto:bframes=0:global_header -vf pp=lb,dsize=960:540:0,scale=-8:-8,harddup</string>
			<key>encoderAudioOptions</key>
			<string>-channels 2 -oac faac -faacopts mpeg=4:object=2:raw:br=128</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>for Sony PSP video: 480x272 h.264 at 256kbps audio: aac at 128kbs (put in a folder named VIDEO on your PSP memory stick)</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>PSP</string>
			<key>encoderVideoOptions</key>
			<string>-of lavf -lavfopts format=psp -ovc x264 -x264encopts nocabac:level_idc=21:bitrate=256:threads=auto:bframes=0:global_header:subq=5:me=umh -vf pp=lb,dsize=480:272:0,scale=-8:-8,harddup</string>
			<key>encoderAudioOptions</key>
			<string>-oac faac -faacopts mpeg=4:object=2:raw:br=128</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<false/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>for Sony PS3 video: 1920x1080 h.264 at 1.5Mbps audio: aac at 128kbs *UNTESTED*</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>PlayStation 3</string>
			<key>encoderVideoOptions</key>
			<string>-of lavf -lavfopts format=mp4 -ovc x264 -x264encopts level_idc=41:bitrate=1500:threads=auto:bframes=0:global_header:subq=5:me=umh -vf pp=lb,scale=-1:-1,harddup</string>
			<key>encoderAudioOptions</key>
			<string>-oac faac -faacopts mpeg=4:object=2:raw:br=128</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<false/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>for Microsoft XBOX 360 video: original h.264 at 2Mbps audio: aac at 128kbs *UNTESTED*</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>XBOX 360</string>
			<key>encoderVideoOptions</key>
			<string>-of lavf -lavfopts format=mp4 -ovc x264 -x264encopts bitrate=1500:threads=auto:global_header:me=umh -vf harddup</string>
			<key>encoderAudioOptions</key>
			<string>-oac faac -faacopts mpeg=4:object=1:br=128</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<false/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>for uploading to YouTube video: 640x360 h.264 at 256kbps audio: aac at 128kbs  *MAKE SURE* your video is under 10 minutes</string>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>comSkip</key>
			<true/>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>YouTube</string>
			<key>encoderVideoOptions</key>
			<string>-of lavf -lavfopts format=ipod -ovc x264 -x264encopts nocabac:level_idc=30:bitrate=128:threads=auto:bframes=0:global_header -vf dsize=640:360:0,harddup</string>
			<key>encoderAudioOptions</key>
			<string>-af volume=13:1 -oac faac -faacopts mpeg=4:object=2:raw:br=128</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>MPEG-2 Program Stream intended for HD sources video: original resolution, mpeg-2 at 5Mbps audio: mp2 at 128kbs</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mpg</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>MPEG-2  HD ( 5Mbps )</string>
			<key>encoderVideoOptions</key>
			<string>-ovc lavc -of mpeg -mpegopts format=dvd:tsaf:muxrate=36000 -vf pp=lb,scale=-1:-1,harddup -lavcopts vcodec=mpeg2video:vrc_buf_size=18350:vrc_maxrate=9800:vbitrate=5000:keyint=15:trell:mbd=2:precmp=2:subcmp=2:cmp=2:dia=-10:predia=-10:cbp:mv0:vqmin=1:lmin=1:dc=10:vstrict=0:autoaspect</string>
			<key>encoderAudioOptions</key>
			<string>-srate 48000 -af lavcresample=48000 -oac lavc -lavcopts acodec=mp2:abitrate=128</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>MPEG-2 Program Stream video: original resolution, mpeg-2 at 1Mbps audio: mp2 at 128kbs</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mpg</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>MPEG-2   ( 1Mbps )</string>
			<key>encoderVideoOptions</key>
			<string>-ovc lavc -of mpeg -mpegopts format=dvd:tsaf:muxrate=36000 -vf pp=lb,scale=-1:-1,harddup -lavcopts vcodec=mpeg2video:vrc_buf_size=1835:vrc_maxrate=2400:vbitrate=1000:keyint=15:trell:mbd=2:precmp=2:subcmp=2:cmp=2:dia=-10:predia=-10:cbp:mv0:vqmin=1:lmin=1:dc=10:vstrict=0:autoaspect</string>
			<key>encoderAudioOptions</key>
			<string>-srate 48000 -af lavcresample=48000 -oac lavc -lavcopts acodec=mp2:abitrate=128</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>MPEG-2 Program Stream video: original resolution, mpeg-2 at 128kbps audio: mp2 at 128kbs</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mpg</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>MPEG-2   ( 250 kbps )</string>
			<key>encoderVideoOptions</key>
			<string>-ovc lavc -of mpeg -mpegopts format=dvd:tsaf:muxrate=36000 -vf pp=lb,scale=-1:-1,harddup -lavcopts vcodec=mpeg2video:vrc_buf_size=1835:vrc_maxrate=256:vbitrate=128:keyint=15:trell:mbd=2:precmp=2:subcmp=2:cmp=2:dia=-10:predia=-10:cbp:mv0:vqmin=1:lmin=1:dc=10:vstrict=0:autoaspect</string>
			<key>encoderAudioOptions</key>
			<string>-srate 48000 -af lavcresample=48000 -oac lavc -lavcopts acodec=mp2:abitrate=128</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>for burning to DVD widescreen NTSC video: 720x480, mpeg2 at 5Mbps (variable &lt;9.8) audio: mp2 at 192kbs</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mpg</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>DVD</string>
			<key>encoderVideoOptions</key>
			<string>-ovc lavc -of mpeg -mpegopts format=dvd:tsaf -vf scale=720:480,harddup -lavcopts vcodec=mpeg2video:vrc_buf_size=1835:vrc_maxrate=9800:vbitrate=5000:keyint=15:trell:mbd=2:precmp=2:subcmp=2:cmp=2:dia=-10:predia=-10:cbp:mv0:vqmin=1:lmin=1:dc=10:vstrict=0:aspect=16/9</string>
			<key>encoderAudioOptions</key>
			<string>-srate 48000 -af lavcresample=48000 -oac lavc -lavcopts acodec=mp2:abitrate=192</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>Mpeg-2 transport stream from tivo video: original copy audio: original copy note: This will *NOT* play in quicktime.  This is for people who need to edit out commercials off the tivo stream only. Can&apos;t be added to iTunes</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mpg</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>MPEG2-TS</string>
			<key>encoderVideoOptions</key>
			<string>-ovc copy -of mpeg -mpegopts format=mpeg2:tsaf:muxrate=36000 -noskip -mc 0 -forceidx</string>
			<key>encoderAudioOptions</key>
			<string>-oac copy</string>
			<key>encoderOtherOptions</key>
			<string>-hr-edl-seek</string>
			<key>iTunes</key>
			<false/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>use an external encoder: ElGato Turbo.264 you *MUST* have the device installed for this to work set your video settings on the ElGato software. *UNTESTED*</string>
			<key>comSkip</key>
			<false/>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>encoderUsed</key>
			<string>turbo.264</string>
			<key>name</key>
			<string>ElGato Turbo.264</string>
			<key>encoderVideoOptions</key>
			<string></string>
			<key>encoderAudioOptions</key>
			<string></string>
			<key>encoderOtherOptions</key>
			<string></string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<true/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>For people who want to listen to the show audio: mp3 at 192kbps</string>
			<key>comSkip</key>
			<true/>
			<key>filenameExtension</key>
			<string>.mp3</string>
			<key>encoderUsed</key>
			<string>mencoder</string>
			<key>name</key>
			<string>Audio only (mp3)</string>
			<key>encoderVideoOptions</key>
			<string>-ovc frameno</string>
			<key>encoderAudioOptions</key>
			<string>-oac mp3lame -lameopts vbr=2:q=5:br=192</string>
			<key>encoderOtherOptions</key>
			<string>-of rawaudio -hr-edl-seek</string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>a direct copy of the data from your tivo, decrypted. UNPLAYABLE in quicktime. Can&apos;t be added to iTunes install VLC or Mplayer to view</string>
			<key>comSkip</key>
			<false/>
			<key>filenameExtension</key>
			<string>.mpg</string>
			<key>encoderUsed</key>
			<string>cat</string>
			<key>name</key>
			<string>No encode</string>
			<key>encoderVideoOptions</key>
			<string></string>
			<key>encoderAudioOptions</key>
			<string></string>
			<key>encoderOtherOptions</key>
			<string></string>
			<key>iTunes</key>
			<false/>
			<key>mustDownloadFirst</key>
			<false/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>HandBrake using the built-in AppleTV preset</string>
			<key>comSkip</key>
			<false/>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>encoderUsed</key>
			<string>HandBrake</string>
			<key>name</key>
			<string>HandBrake AppleTV</string>
			<key>encoderVideoOptions</key>
			<string>-Z &quot;AppleTV&quot;</string>
			<key>encoderAudioOptions</key>
			<string></string>
			<key>encoderOtherOptions</key>
			<string></string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<true/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>HandBrake using the built-in iPhone preset</string>
			<key>comSkip</key>
			<false/>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>encoderUsed</key>
			<string>HandBrake</string>
			<key>name</key>
			<string>HandBrake iPhone</string>
			<key>encoderVideoOptions</key>
			<string>-Z &quot;iPhone &amp; iPod Touch&quot;</string>
			<key>encoderAudioOptions</key>
			<string></string>
			<key>encoderOtherOptions</key>
			<string></string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<true/>
		</dict>
		<dict>
			<key>formatDescription</key>
			<string>HandBrake using the built-in Television preset</string>
			<key>comSkip</key>
			<false/>
			<key>filenameExtension</key>
			<string>.mp4</string>
			<key>encoderUsed</key>
			<string>HandBrake</string>
			<key>name</key>
			<string>HandBrake TV</string>
			<key>encoderVideoOptions</key>
			<string>-Z &quot;Television&quot;</string>
			<key>encoderAudioOptions</key>
			<string></string>
			<key>encoderOtherOptions</key>
			<string></string>
			<key>iTunes</key>
			<true/>
			<key>mustDownloadFirst</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
